<form action="/results">
    <div class="input-group mt-5">
    <input type="search" class="form-control" name="search" id="search" placeholder="Search for beer...">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary bg-primary text-white" type="submit" id="button-addon2">Search</button>
    </div>
  </div>
</form>