<!-- footer nav -->
<nav class="nav nav-pills flex-column flex-sm-row fixed-bottom bg-light">
    <a class="breadcrumb-item text-sm-center nav-link text-info font-weight-normal " href="/">Home</a>
    <a class="breadcrumb-item text-sm-center nav-link text-info font-weight-normal " href="#">About</a>
    <a class="breadcrumb-item text-sm-center nav-link text-info font-weight-normal " href="#">Contact</a>
  </nav>
</body>
</html>
