<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Random Dog</title>
</head>

<body>

  <form class="container" action="/getImage" method="get">
    <input id="btn" type="submit" value="Click for new Dog">
    <h1>Random Dog Image</h1>
    <img id="pic" src=<%-image%> alt="dog">
    <br /> <br />
  </form>
</body>

</html>