<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Beans Love Beers</title>
</head>
<body>
    <%- include('partials/navbar')   %> 
    <%- include('partials/searchbar')  %> 
    <main>
        <div class="results">
                
            

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img id="dpimage" src="https://www.myamericanmarket.com/977-large_default/dr-pepper-soda.jpg" class="" alt=" ">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <span class="favorite"><i class="fa fa-star"></i></span>
        <h5 class="card-title">Dr. Pepper </h5>
        <p class="card-text">Dear Dr. Pepper,

          As I write this letter to you, I try to recall a time in my life when you were not there. Alas, I cannot, and I realize your refreshing 23 flavors have been there for me through it all. From childhood days of sneaking the forbidden third Dr. Pepper of the day behind Mom's back to stopping by the 7-Eleven behind my apartment at least once a day for a 32-ounce D.P., you've become a steadfast friend. As I've grown older many things in my life have changed, but you never did. I've moved towns, lost and gained friends, graduated high school and moved off to college, but still through everything you've been there to witness it all. You were there when I was when I was a little girl and dreams of becoming a princess filled my head. You stayed by my side as I grew to become an awkward preteen, and stuck through the angsty years of early high school me (kudos for that feat). You've followed me to college, and I know when I'm old and gray you will still be my ever-faithful companion.
          
          You've been such a big part of my life that the very essence of my being is forever intertwined with yours. Friends are no longer surprised if I have multiple Dr. Peppers a day, but in fact are quite shocked if I say I didn't have one. After long stress-filled days, or even happy joyous days, you're the first one I'll turn to.
          
          Thank you for always breathing life back into me, and for being my favorite buddy. My life would be forever changed if you were to ever leave. You da best.
          
          Your friend,
          
          Trinity </p>

          
        <p class="card-text"><small class="text-muted">Reference: https://www.theodysseyonline.com/love-letter-dr-pepper</small></p>
      </div>
    </div>
  </div>
</div>
            

        </div>
        
    </main>
    <script src="script.js"></script>

</body>
</html>