div + p {
  font-size: 3rem;
}

div p {
  text-decoration: underline;
}

div,
p {
  color: darkblue;
}

div > p {
  font-style: italic;
}

div ~ p {
  background-color: dimgray;
}
