<%- include('partials/header.ejs')  %> 

<h1>Choose your Character:</h1>
<form action="/search" method="get">
    <label for="name">Character Name:</label>
    <input type="text" id='name' name='chName'>
    <button type="submit">SUBMIT</button>
</form>