<%- include('./partials/header', {title: 'Home'}) -%>
<%- include('./partials/navbar') -%>

<h1>I am the home page</h1>

<% zoo.forEach((el)=>{ %> <%= el.name %> <% }) %>


<%- include('./partials/footer') -%>