<nav aria-label="breadcrumb">
    <ol class="breadcrumb fixed-bottom">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">About</a></li>
      <li class="breadcrumb-item"><a href="#">Contact</a></li>
    </ol>
  </nav>
</body>
</html>