<%- include('partials/header') %>

<!-- jumbotron -->
<div class="jumbotron text-justified" >
  <h1 class="display-4 text-center" >About our Company</h1>
  <p class="lead" style="width: 75%; margin: 0 auto">
    We got glazed, chocolate iced, raspberry filled, chocolate iced glaze, glazed chocolate cake,
    powered cake, and about three dozen other flavors to satisfy you sugar cravings!
  </p>
</div>

<%- include('partials/footer') %>