<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <title>moviesNow</title>
</head>
<body>
    <div id="index">
        <div class="container">
            <h1 class="text-uppercase">In the mood to catch a flick? See what movies are playing now!</h1>
            <a href="/results"><button type="submit" id="listSub">Show me a list of Movies!</button></a>
        </div>
    </div>
</body>
</html>
