<%- include('partials/header.ejs')  %> 

<h1>Results:</h1>

<% data.forEach(el => { %>  
        <h3>NAME: <%= el.name %></h3>
        <h4>DESCRIPTION: <%= el.description %></h4>
        <hr>
<% }) %> 